/*Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} img {
    width: 250px;
    height: 150px;
    opacity: 0.8;
}
/*Code*/
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
} .images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
} .countainer-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
} .img {
    width: 250px;
    height: 150px;
    background-color: black;
    position: relative;
} .text {
    position: absolute;
    top: 65%;
    left: 3%;
}